@model WebApplication2.Models.FormulaProcess


@using (Html.BeginForm())
{
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
   
    <p>Введите формулу: @Html.TextBoxFor(x => x.Str)</p>
    
    <input type="submit" value="Обработать формулу" />
    
    <form action="textarea1.php" method="get">
        <p><textarea rows="25" cols="60" name="text"> @Model.Answer </textarea></p>
    </form>
}